# frozen_string_literal: true

require "spec_helper"

RSpec.describe Controllers::Pages, type: :request do
  it "works" do
    get "/"

    expect(last_response.body)
      .to eq("Welcome to Ramverk!")
  end
end
