# frozen_string_literal: true

ENV["APP_ENV"] = "test"

require_relative "../config/boot"

# Requires supporting ruby files for testing.
Dir["./spec/support/**/*.rb"].sort.each { |f| require f }

# See http://rubydoc.info/gems/rspec-core/RSpec/Core/Configuration
RSpec.configure do |config|
  # Disable monkey-pachting core ruby.
  config.disable_monkey_patching!
end
